{% extends 'base.html.twig' %}


{% block body %}
    <h1> Votre panier </h1>
{% for detailCommande in detailsCommandes  %}
    <div>
    <div> {{ detailCommande.produit.nom }},    quantité : {{ detailCommande.quantite }} </div>
    </div>
    <br>
    {% endfor %}
    <a href="{{ path('_payementPanier') }}">Payer la commande</a>
{% endblock %}
