{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="flex item-center justify-center text-5xl mt-8"> Livraison</h2>

    <div class="grid grid-cols-4 gap-4 mx-32 mb-20">

    {% for commandeId, commandeDetail in commandeDetails %}
        <div class="bg-gray-200 p-4 w-80 mb-6 flex flex-col justify-between">
            <div class=" flex justify-center item-center mb-2 text-xl text-black mb-4 font-bold">Commande n°
                : {{ commandeId }}</div>
            {% for detailCommande in commandeDetail %}
                {% for pizza in pizzas %}
                    {% if detailCommande.produit.id == pizza.id %}
                        <div class="flex justify-between">
                            <div class="mb-2 text-xl text-black">{{ pizza.nom }} X {{ detailCommande.quantite }}  </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div> Heure de livraison : {{ commandeDetail[0].commande.dateHeureLivraison|date(' H:i:s') }}</div>
        </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

