{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="flex item-center justify-center text-5xl mt-8 mb-20"> Préparation des commandes </h2>
    <div class="grid grid-cols-4 gap-4 mx-32 mb-20">
        <div class="bg-gray-200 p-4 w-80 mb-6 flex flex-col justify-between">
            {% for commandeId, commandeDetail in commandeDetails %}
                <div class="mb-2 text-xl text-black">Commande n° : {{ commandeId }}</div>
                    {% for detailCommande in commandeDetail %}
                        {% for pizza in pizzas %}
                            {% if detailCommande.produit.id == pizza.id %}
                                <div class="mb-2 text-xl text-black">{{ pizza.nom }}</div>
                                <div class="mb-2 text-xl text-black">Quantité : {{ detailCommande.quantite }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                <a href="{{ path('_etatPrepare', {'id': commandeId}) }} }}" class="h-6 hover:text-red-500 duration-200 text-xl mb-6 font-bold">Valider la prépartion de cette commande</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}


